@import "globalColor";

.contact-div-main {
  display: flex;
}

.dark-mode a {
  color: $textColorDark;
}

.contact-div-main > * {
  flex: 1;
}

.contact-title {
  font-size: 45px;
  font-weight: 400;
}

.contact-detail,
.contact-detail-email {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 400;
  color: $subTitle;
  text-decoration: none;
}

.contact-detail:hover,
.contact-detail-email:hover {
  color: $textColor;
  text-shadow: 2px 1px 2px $contactDetailHoverTS;
  transition: all 0.3s;
}

.contact-subtitle {
  text-transform: uppercase;
}

.contact-text-div {
  margin-top: 1.5rem;
}

.contact-margin-top {
  margin-top: 4rem;
}

.contact-image-div > img {
  max-width: 100%;
  height: auto;
  margin-left: 1.5rem;
  margin-top: -4rem;
}

.image-content-profile {
  flex: 10% 1;
  height: auto;
  max-width: 100%;
  text-align: right;
}

.profile-image {
  border: .3rem solid rgba(110, 195, 223);
  border-radius: 50%;
  box-shadow: 0 30px 30px -30px #0000001a;
  height: auto;
  margin-left: auto;
  margin-top: 20px;
  max-width: 250px;
  transition: all .3s ease-out;
  width: 100%;
}

/* Media Query */
@media (max-width: 1380px), (max-width: 768px) {
  .contact-title {
    font-size: 56px;
    font-weight: 400;
    text-align: center;
  }

  .contact-title {
    font-size: 40px;
    text-align: center;
  }

  .contact-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }

  .contact-text-div {
    text-align: center;
    margin-top: 1.5rem;
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 20px;
  }

  .contact-image-div {
    display: none;
  }

  .location-div {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .profile-image{
    max-width: 150px;
  }

}

@media (max-width: 480px)
{
  .contact-div-main {
    flex-direction: column;
    align-items: center;
  }
}