@import "../../_globalColor";

.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}

.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  position: relative;
}

.background-container {
  background: linear-gradient(to right, rgba(199, 224, 238, .7), rgba(173, 216, 230, .1)), url(../../assets/images/common-bg.svg);
  background-position: center;
  min-height: 100vh;

}

.greeting-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.subTitle {
  color: #173753 !important;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7) !important;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.button-greeting-div {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-grow: 1; /* Allows the buttons to grow more, taking up the space of the empty third box */
}

.greeting-text {
  font-size: 50px;
  line-height: 1.1;
  color: $textColor !important;
}

.greeting-text-p {
  font-size: 30px;
  line-height: 40px;
  max-width: 800px;
}

.greeting-image-div > img {
  max-width: 100%;
  height: auto;
}

.greeting-buttons {
  display: flex;
  align-items: center; // This will vertically center-align the items
  justify-content: flex-end; // This will align items to the start of the container
  gap: 10px;
  flex-wrap: wrap;
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .greeting-text {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
  .greeting-main {
    display: block;
  }
  .greeting-image-div {
    height: 256px;
  }
  .greeting-buttons {
    flex-direction: column;
    align-items: center;
  }
  .background-effect {
    width: 8em; /* Smaller size */
    height: 8em; /* Smaller size */
    margin: 1.5em;
  }
}

@media (max-width: 320px) {
  .main {
    width: auto;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .background-effect {
    width: 5em; /* Even smaller size */
    height: 5em; /* Even smaller size */
    margin: 1em;
  }
}